<h1>Stock Manager</h1>

<ul id="products-list">
    {{#each products}}
    <li>
        {{title}}
        <button onclick="deleteProduct({{id}})" id="deleteBtn-{{id}}" type="button">Delete Product</button>
    </li>
    {{/each}}
</ul>

<form action="/api/products" method="post">
    <label for="title">Product Title</label>
    <input type="text" name="title" id="titleField" placeholder="Product Title" required>
    <br>
    <label for="description">Product Description</label>
    <input type="text" name="description" id="descriptionField" placeholder="Product Description" required>
    <br>
    <label for="code">Product Code</label>
    <input type="number" name="code" id="codeField" placeholder="Product Code" required>
    <br>
    <label for="price">Product Price</label>
    <input type="number" name="price" id="priceField" placeholder="Product Price" required>
    <br>
    <label for="status">Product Status</label>
    <input type="text" name="status" id="statusField" placeholder="Product Status" required>
    <br>
    <label for="stock">Product Stock</label>
    <input type="number" name="stock" id="stockField" placeholder="Product Stock" required>
    <br>
    <label for="category">Product Category</label>
    <input type="text" name="category" id="categoryField" placeholder="Product Category" required>
    <br>
    <button type="submit">Add Product</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src={{pathToJS}}></script>